<html>
    <head>
        <title>Biblioteca</title>
        <meta charset="UTF-8">
        <script language="javascript">
            function validarInformacoes(){
              var titulo = document.getElementById('titulo').value;
              var escritor = document.getElementById('escritor').value;
              var editora = document.getElementById('editora').value;
  
              if (titulo == '') {
                alert('O campo titulo é obrigatório.');
                return false;
              } else if (titulo == ' '){
                alert('O campo titulo é obrigatório.');
                return false;
              }

              if (escritor == '') {
                alert('O campo escritor é obrigatório.');
                return false;
              } else if (escritor == ' '){
                alert('O campo escritor é obrigatório.');
                return false;
              }
  
              if (editora == '') {
                alert('O campo editora é obrigatório.');
                return false;
              } else if (editora == ' ') {
                alert('O campo editora é obrigatório.');
                return false;
              }
  
              if (isNaN(preco) == true) {
                alert('O campo Preço dever ser numérico.');
                return false;
              }
  
              return true;
            }
          </script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <style>
          .nav justify-content-center{
              height: 50%;
          }
        </style>
    </head>
    <body>
        <div class="jumbotron text-center" style="margin-bottom:0">
            <h1>Cadastro de Livros</h1>
        </div>

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="margin-bottom:20">
            <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000/1">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000/3">Livros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000/2">Tipos de usuários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000/4">Categorias dos livros</a>
                </li>
                </ul>
            </div>
        </nav>

        <form action="salvar3" method="post" onsubmit="return validarInformacoes()">
            <div class="container">
                <div class="form-group">
                    <label for="usuario_id">Id do usuário:</label>
                    <input type="number" class="form-control" required="required" name="usuario_id" id="usuario_id" size="10">
                </div>

                <div class="form-group">
                    <label for="titulo">Título:</label>
                    <input type="text" class="form-control" required="required" name="titulo" id="titulo" size="50">
                </div>

                <div class="form-group">
                    <label for="escritor">Escritor:</label>
                    <input type="text" class="form-control" required="required" name="escritor" id="escritor" size="40">
                </div>

                <div class="form-group">
                    <label for="editora">Editora:</label>
                    <input type="text" class="form-control" required="required" name="editora" id="editora" size="40">
                </div>

                <div class="form-group">
                    <label for="ano_publicacao">Ano de publicação:</label>
                    <input type="number" class="form-control" required="required" name="ano_publicacao" id="ano_publicacao" size="20">
                </div>

                <div class="form-group">
                    <label for="numero_edicao">Número de edição:</label>
                    <input type="number" class="form-control" required="required" name="numero_edicao" id="numero_edicao" size="30">
                </div>

                <div class="form-group">
                    <label for="paginas">Número de páginas:</label>
                    <input type="number" class="form-control" required="required" name="paginas" id="paginas" size="20">
                </div>

                <div class="form-group">
                    <label for="categoria_id">Id da categoria do livro:</label>
                    <input type="number" class="form-control" required="required" name="categoria_id" id="categoria_id" size="10">
                </div>

                <div class="form-group">
                    <label for="preco">Preço:</label>
                    <input type="number" step=".01" class="form-control" required="required" name="preco" id="preco" size="20">
                </div>
            </div>

            <div class="jumbotron text-center" style="margin-bottom:0">
                <input type="submit" class="btn btn-outline-primary" id="save" role="button" value="Salvar">
                <input type="reset" class="btn btn-outline-primary" id="limp" role="button" value="Limpar">
            </div>
        </form>
    </body>
</html>
